In [1]:
import pandas as pd

In [2]:

# Load the data
bank_test = pd.read_csv('submission_answer.csv')
# 目的変数の変数名
colunm_name = 'Survived'

In [3]:
bank_test.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [11]:
input_df = pd.read_csv('submission_answer.csv')
input_df.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [10]:
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score
# AUC
from sklearn.metrics import roc_auc_score

In [13]:
score_acc = round(accuracy_score(bank_test[colunm_name], input_df[colunm_name])*100, 4)
score_rec = round(recall_score(bank_test[colunm_name], input_df[colunm_name])*100, 4)
score_pre = round(precision_score(bank_test[colunm_name], input_df[colunm_name])*100, 4)
score_f1 = round(f1_score(bank_test[colunm_name], input_df[colunm_name])*100, 4)
score_auc = round(roc_auc_score(bank_test[colunm_name], input_df[colunm_name])*100, 4)

In [15]:
name = 'test'

df_score = pd.DataFrame({'Name': [name],
                            'Accuracy': [score_acc],
                            'Recall': [score_rec],
                            'Precision': [score_pre],
                            'F1-score': [score_f1],
                            'AUC': [score_auc]})

print(df_score)

   Name  Accuracy  Recall  Precision  F1-score    AUC
0  test     100.0   100.0      100.0     100.0  100.0